@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,400,700,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,700');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/leone-venter-VieM9BdZKFo-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    height: 100vh;

}

.header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    font-weight: 300;
    text-align: left;
    padding-left: 50px;
    color: hsl(310, 22%, 25%);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: hsl(310, 22%, 25%);
}

.header p {
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    color: #000000;
    text-decoration: underline;
    padding-left: 50px;
}

section {
    padding: 60px 0;
}

section h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 46px;
    margin-bottom: 20px;
    color: hsl(310, 22%, 25%);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: hsl(310, 22%, 25%);
}



/* Projects Grid */
.container {
    max-width: 880px;
    margin: auto;
    overflow: hidden;
    padding: 0 30px;
}

#projects ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#projects li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    height:350px
    

}

.replit1{
    width: 100%;
    height: 300px;
    /* Set a fixed height */
}

#replit3{
    grid-column: 1 / span 2;

}


#embed_website{
    width: 1200px;
    height: 900px;
    transform: scale(0.7);
    margin: 0;
    padding: 0;
}


#projects p, #projects video{
    text-align: center;
    width:100%;
}

#projects h3 {
    text-align: center;
}

#video{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    height:auto
}


/* Navigation Bar */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-image: linear-gradient(to right, #d9d9d9, #e6e6e6);
    position: sticky;
    top: 0;
    z-index: 1000;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0
}

nav li {
    display: inline-block
}

nav a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px 20px
}

nav a:hover {
    color: #fff
}


/* Contact Section */
footer {
    background-image: linear-gradient(to right, #d9d9d9, #e6e6e6);
    margin: auto;
    padding: 20px;
}

footer div a{
color: hsl(310, 22%, 25%);
display: flex;
justify-content: center;
}



@media (min-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {
    .hero {
        background-size: contain;
        background-repeat: no-repeat;
    }

    #projects ul {
        grid-template-columns: (2, 1fr);
    }

    #projects iframe {
        height: 300px;
    }

    

    video {
        width: 100%;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        width: 100%;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-form {
        margin-right: 0;
        margin-top: 20px;
    }

    .container {
        padding: 0 10px;
    }

    .header h1 {
        font-size: 80px;
    }

    .contact-container img {
        margin-left: 20px;
    }

}

.contact-container img {
    margin-left: 20px;
}

@media (max-width: 767px) {
    .hero {
        background-size: contain;
        background-repeat: no-repeat;
    }

    #projects ul {
        grid-template-columns: 1fr;
    }

    #projects iframe {
        height: 300px;
    }

    video {
        width: 100%;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        width: 100%;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-form {
        margin-right: 0;
        margin-top: 20px;
    }

    .container {
        padding: 0 10px;
    }

    .contact-container img {
        margin-left: 20px;
    }

    .header h1 {
        font-size: 80px;
    }
}